Bootstrap_Flask==2.2.0
Flask==2.3.2
flask_sqlalchemy==3.0.5
Flask_WTF==1.1.1
Requests==2.31.0
WTForms==3.0.1

pandas~=2.0.3
pip~=22.2.2
attrs~=23.1.0
Pillow~=10.0.0
Jinja2~=3.1.2
setuptools~=63.2.0
packaging~=23.1
pyparsing~=3.0.9
pyperclip~=1.8.2
Werkzeug~=2.3.6
selenium~=4.10.0
beautifulsoup4~=4.12.2